body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #hero {
    border-left: 6px double blue;
    border-top: 6px double blue;
    border-right: 6px double black;
    border-bottom: 6px double black;
  }