#hero {
    max-width: 100%;
    max-height: 400px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-left: 8px double black;
    border-top: 8px double black;
    border-bottom: 8px double blue;
    border-right: 8px double blue;
}