<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Kapang Daun</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Bercak coklat pada daun</li>
                  <li>Serangan pada daun bagian bawah/seluruh daun</li>
                  <li>Daun mengering dan menguning</li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Penyiraman yang Tidak Tepat: Penyiraman yang berlebihan atau
                  penyiraman di atas daun dapat menyebabkan kelembaban yang
                  berlebihan di permukaan daun dan memfasilitasi pertumbuhan
                  patogen.
                </li>
                <li>
                  Tanah Terkontaminasi: Tanah yang terkontaminasi dengan spora
                  penyebab penyakit dapat menyebabkan infeksi pada akar atau bagian
                  bawah tanaman krisan, yang kemudian dapat menyebar ke daun.
                </li>
                <li>
                  Penyebaran Melalui Tanaman Terserang: Infeksi dapat menyebar
                  melalui kontak langsung dengan tanaman yang terinfeksi atau
                  melalui serangga atau hewan yang membawa patogen dari satu tanaman
                  ke tanaman lainnya.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Pemantauan Rutin: Lakukan pemantauan rutin terhadap tanaman untuk
                    mendeteksi tanda-tanda awal infeksi bercak daun. Jika terdeteksi,
                    lakukan tindakan segera untuk mencegah penyebaran lebih lanjut.
                  </li>
                  <li>
                    Praktik Sanitasi: Bersihkan alat-alat taman secara teratur dan
                    buang sisa-sisa tanaman yang terinfeksi dengan benar. Hindari
                    penumpukan daun-daun yang jatuh di sekitar tanaman untuk
                    mengurangi kemungkinan penyebaran penyakit.
                  </li>
                  <li>
                    Pengaturan Lingkungan: Menciptakan lingkungan yang tidak mendukung
                    pertumbuhan patogen penyebab bercak daun, seperti meningkatkan
                    sirkulasi udara di sekitar tanaman dan mengurangi kelembaban
                    dengan penyiraman yang terkontrol.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

