<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Busuk Pangkal</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Tanaman layu</li>
            <li>Daun menguning terutama daun bagian bawah</li>
            <li>
              Perbatasan pangkal batang dengan akar terjadi pembusukan yang
              berwarna kehitaman
            </li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Tanah Terlalu Basah: Penyiraman berlebihan atau drainase yang
                  buruk dapat menyebabkan tanah menjadi terlalu basah, yang
                  menciptakan lingkungan yang ideal bagi pertumbuhan jamur atau
                  bakteri penyebab busuk pangkal.
                </li>
                <li>
                  Tanah Terkontaminasi: Tanah yang terkontaminasi dengan patogen
                  penyebab penyakit dapat menyebabkan infeksi pada akar atau pangkal
                  batang tanaman krisan.
                </li>
                <li>
                  Kerusakan Mekanis: Kerusakan pada akar atau pangkal batang
                  tanaman, baik akibat proses penanaman, pemangkasan, atau gangguan
                  lainnya, dapat memberikan pintu masuk bagi patogen penyebab
                  penyakit.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Perbaiki Drainase Tanah: Pastikan tanah tempat bunga krisan tumbuh
                    memiliki sistem drainase yang baik untuk mencegah penumpukan air
                    di sekitar akar tanaman. Tanah yang terlalu basah menjadi tempat
                    berkembang biak bagi patogen penyebab busuk pangkal.
                  </li>
                  <li>
                    Pemantauan Tanah: Rutin memantau kelembaban tanah dan menghindari
                    penyiraman berlebihan. Tanah yang terlalu basah dapat menyebabkan
                    akar menjadi busuk, sehingga memicu penyakit busuk pangkal.
                  </li>
                  <li>
                    Perawatan Tanaman: Pastikan tanaman krisan mendapatkan perawatan
                    yang optimal, termasuk pemupukan yang tepat, penyiraman yang
                    seimbang, dan pemangkasan yang diperlukan. Tanaman yang sehat
                    memiliki sistem pertahanan yang lebih baik terhadap infeksi
                    penyakit.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

