<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Embun Tepung</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Permukaan daun tertutup dengan lapisan tepung putih</li>
                  <li>Daun menguning</li>
                  <li>Daun pucat</li>
                  </li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Tanah Terkontaminasi: Spora jamur embun tepung dapat bertahan
                  hidup dalam tanah dalam jangka waktu yang lama. Tanah yang
                  terkontaminasi dengan spora jamur ini dapat menyebabkan infeksi
                  pada akar dan tanaman krisan.
                </li>
                <li>
                  Kehadiran Tanaman Terserang: Tanaman krisan yang sudah terinfeksi
                  embun tepung dapat menjadi sumber infeksi bagi tanaman krisan
                  lainnya. Penyebaran spora jamur dapat terjadi melalui angin atau
                  percikan air.
                </li>
                <li>
                  Kondisi Tanaman yang Lemah: Tanaman krisan yang lemah atau stres
                  karena kekurangan air, nutrisi yang tidak mencukupi, atau cedera
                  lainnya lebih rentan terhadap infeksi embun tepung.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Pemupukan yang Tepat: Pastikan tanaman mendapatkan nutrisi yang
                    seimbang untuk memperkuat sistem pertahanan alaminya terhadap
                    infeksi jamur. Hindari penggunaan pupuk nitrogen berlebihan,
                    karena dapat meningkatkan kerentanan tanaman terhadap serangan
                    embun tepung.
                  </li>
                  <li>
                    Pemilihan Varietas yang Tahan: Pilih varietas krisan yang
                    diketahui tahan terhadap penyakit embun tepung jika memungkinkan.
                    Varietas yang tahan memiliki kemampuan bawaan untuk melawan
                    infeksi jamur dan dapat mengurangi risiko terkena penyakit.
                  </li>
                  <li>
                    Pemangkasan: Pemangkasan bagian tanaman yang terinfeksi embun
                    tepung dapat membantu mengurangi penyebaran penyakit. Buang
                    daun-daun yang terinfeksi secara teratur dan pastikan untuk
                    membersihkan pisau pemangkas antara setiap potongan untuk mencegah
                    penyebaran jamur.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

