<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Hawar Daun</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>
                    Permukaan daun terdapat bercak-bercak coklat tidak beraturan
                  </li>
                  <li>Daun rontok saat terkena angin</li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Jamur: Infeksi jamur seperti Septoria, Alternaria, atau Cercospora
                  dapat menyebabkan hawar daun pada bunga krisan. Jamur ini sering
                  berkembang biak di lingkungan yang lembab dan hangat.
                </li>
                <li>
                  Bakteri: Bakteri seperti Xanthomonas atau Pseudomonas juga dapat
                  menjadi penyebab hawar daun pada bunga krisan. Infeksi bakteri
                  sering terjadi melalui luka atau kerusakan pada tanaman.
                </li>
                <li>
                  Kondisi Lingkungan yang Tidak Sesuai: Kelembaban yang tinggi,
                  curah hujan yang berlebihan, atau lingkungan yang terlalu lembap
                  dapat memicu pertumbuhan jamur atau bakteri yang menyebabkan hawar
                  daun. Sirkulasi udara yang buruk juga dapat menyebabkan kelembaban
                  tinggi di sekitar tanaman.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Pemangkasan: Potong dan buang daun-daun yang terinfeksi secara teratur. Ini akan membantu mengurangi penyebaran penyakit ke bagian tanaman lainnya.
                </li>
                <li>
                    Sanitasi: Pastikan untuk membersihkan area tumbuh dan alat-alat pertanian secara teratur. Ini akan membantu menghilangkan sumber potensial infeksi.
                </li>
                <li>
                    Penyiraman yang Tepat: Hindari penyiraman di malam hari dan hindari membasahi daun saat menyiram tanaman. Penyiraman di pagi hari memungkinkan daun untuk mengering dengan cepat, mengurangi kelembaban yang mendukung pertumbuhan jamur.
                </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

