<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Kapang Daun</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Daun menguning</li>
            <li>Daun kerdil atau berkerut</li>
            <li>Gagal berbunga</li>
            <li>Serangan pada daun bagian bawah/seluruh daun</li>
                  </li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Kondisi Cuaca yang Buruk: Cuaca yang lembap dan hangat merupakan
                  kondisi ideal untuk pertumbuhan jamur kapang daun. Hujan yang
                  terus-menerus atau embun pada pagi hari dapat meningkatkan risiko
                  infeksi.
                </li>
                <li>
                  Kurangnya Pencahayaan Matahari: Pencahayaan matahari yang cukup
                  penting untuk kesehatan tanaman dan membantu mengurangi kelembaban
                  di sekitar daun. Tanaman yang tumbuh di tempat yang kurang terkena
                  sinar matahari cenderung memiliki risiko lebih tinggi terhadap
                  penyakit kapang daun.
                </li>
                <li>
                  Infeksi Awal: Tanaman yang terinfeksi dari awal, baik karena bibit
                  yang terinfeksi atau karena kontaminasi lingkungan, dapat menjadi
                  sumber infeksi untuk tanaman lainnya di sekitarnya. Penyebaran
                  spora jamur dari tanaman yang terinfeksi ke tanaman sehat dapat
                  terjadi melalui udara, air, atau serangga.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Pengaturan Tanaman: Menciptakan jarak yang cukup antara tanaman
                    dapat meningkatkan sirkulasi udara dan mengurangi kelembaban di
                    antara tanaman. Ini dapat membantu mencegah penyebaran penyakit
                    dari satu tanaman ke tanaman lainnya.
                  </li>
                  <li>
                    Penggunaan Tanaman Pendamping: Beberapa tanaman pendamping seperti
                    lavender atau bunga marigold memiliki sifat repelan terhadap
                    serangga dan jamur tertentu, yang dapat membantu melindungi
                    tanaman krisan dari infeksi kapang daun.
                  </li>
                  <li>
                    Pemantauan Rutin: Lakukan pemantauan rutin terhadap tanaman untuk
                    mendeteksi tanda-tanda awal infeksi kapang daun. Dengan
                    mengidentifikasi infeksi secara dini, Anda dapat mengambil
                    tindakan lebih cepat untuk mengendalikan penyebaran penyakit.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

