<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Karat Putih</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Daun kerdil</li>
                  <li>Serangan pada daun bagian bawah/seluruh daun</li>
                  <li>Daun cekung dan rapuh</li>
                  <li>Permukaan daun bagian bawah berbintil coklat</li>
                </ul class="lh-lg">
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Ketidakseimbangan Nutrisi: Tanaman krisan yang tidak mendapatkan
                  nutrisi yang cukup atau mengalami ketidakseimbangan nutrisi dapat
                  menjadi lebih rentan terhadap serangan penyakit.
                </li>
                <li>
                  Stres Tanaman: Stres yang disebabkan oleh faktor lingkungan
                  seperti perubahan suhu yang tiba-tiba, kekeringan, atau cedera
                  mekanis pada tanaman dapat melemahkan pertahanan alami tanaman dan
                  meningkatkan risiko infeksi oleh jamur karat putih.
                </li>
                <li>
                  Kurangnya Perawatan: Tanaman krisan yang tidak mendapatkan
                  perawatan yang memadai, termasuk pemangkasan yang tepat,
                  pengelolaan gulma, dan pengendalian hama, dapat lebih rentan
                  terhadap serangan penyakit.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Pengaturan Lingkungan: Menciptakan lingkungan yang kurang
                    menguntungkan bagi pertumbuhan jamur karat putih dengan
                    meningkatkan sirkulasi udara di sekitar tanaman. Anda juga dapat
                    mempertimbangkan untuk menyediakan ruang yang cukup antara tanaman
                    untuk mencegah penyebaran infeksi.
                  </li>
                  <li>
                    Pemantauan Rutin: Lakukan pemantauan rutin terhadap tanaman untuk
                    mendeteksi tanda-tanda awal infeksi karat putih. Dengan
                    mengidentifikasi infeksi secara dini, Anda dapat mengambil
                    tindakan lebih cepat untuk mengendalikan penyebaran penyakit.
                  </li>
                  <li>
                    Pemilihan Varietas yang Tahan: Jika memungkinkan, pilih varietas
                    krisan yang diketahui tahan terhadap penyakit karat putih.
                    Varietas yang tahan memiliki kemampuan bawaan untuk melawan
                    infeksi jamur dan dapat mengurangi risiko terkena penyakit.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

