<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Layu Fusarium</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Bercak coklat pada daun</li>
                  <li>Pertumbuhan bagian atas tanaman terhambat atau mati</li>
                  <li>Daun layu dan gugur</li>
                  <li>Layu permanen</li>
                  <li>Tanaman membusuk atau mati</li>
                </ul>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Tanah Terkontaminasi: Jamur Fusarium oxysporum dapat bertahan
                  hidup dalam tanah dalam jangka waktu yang lama, dan tanah yang
                  terkontaminasi dengan spora jamur ini dapat menyebabkan infeksi
                  pada akar tanaman krisan.
                </li>
                <li>
                  Penyebaran Melalui Tanaman Terserang: Jamur Fusarium oxysporum
                  dapat menyebar melalui air, tanah, dan bahkan alat-alat pertanian
                  yang terkontaminasi. Tanaman krisan yang terinfeksi dapat menjadi
                  sumber infeksi bagi tanaman krisan lainnya melalui sistem
                  perakaran.
                </li>
                <li>
                  Kondisi Lingkungan yang Mendukung: Suhu dan kelembaban yang tinggi
                  dalam lingkungan tumbuh yang tidak seimbang dapat mempercepat
                  pertumbuhan jamur Fusarium dan penyebarannya.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                      Penggunaan Bibit Sehat: Pastikan bibit yang Anda gunakan untuk menanam krisan bebas dari infeksi Fusarium. Pilih bibit yang sehat dan berkualitas dari sumber yang terpercaya.
                  </li>
                  <li>
                      Rotasi Tanaman: Praktik rotasi tanaman dapat membantu mengurangi penumpukan patogen tanah seperti Fusarium di area tanam. Jangan menanam krisan di tempat yang sama secara berkelanjutan. Gantilah dengan tanaman lain yang tidak rentan terhadap penyakit ini.
                  </li>
                  <li>
                      Pengelolaan Tanah: Pastikan tanah tempat krisan ditanam memiliki drainase yang baik. Tanah yang terlalu lembab dapat meningkatkan risiko infeksi. Perbaiki struktur tanah dengan bahan organik dan hindari genangan air di sekitar tanaman.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

