<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Pengorok Daun</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Daun menguning</li>
                  <li>Bintik putih pada tanaman</li>
                  <li>Adanya alur berliku bekas kotoran berwarna putih</li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
               <ul class="lh-lg">
                 <li>
                   Jamur atau Fungi: Jamur seperti Sphaerotheca fuliginea atau
                   Golovinomyces cichoracearum dapat menyebabkan penyakit
                   pengorok daun pada krisan.
                  </li>
                  <li>
                   Kondisi Lingkungan yang Tidak Ideal: Kelembaban tinggi dan
                   kondisi lingkungan yang lembab dapat mempercepat pertumbuhan
                   jamur penyebab penyakit.
                  </li>
                 <li>
                   Kurangnya Sirkulasi Udara: Tanaman yang tumbuh dalam
                   lingkungan dengan sirkulasi udara yang buruk cenderung lebih
                   rentan terhadap infeksi jamur.
                  </li>
                </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Penggunaan Fungisida: Penggunaan fungisida yang
                    direkomendasikan dapat membantu mengendalikan pertumbuhan
                    jamur penyebab penyakit. Pastikan untuk mengikuti petunjuk
                    pemakaian dengan benar dan menggunakan fungisida yang sesuai
                    untuk jenis penyakit yang dihadapi.
                  </li>
                  <li>
                    Praktik Budidaya yang Sehat: Menerapkan praktik budidaya yang
                    sehat seperti pemangkasan yang tepat, membersihkan gulma, dan
                    menyediakan kondisi lingkungan yang optimal dapat membantu
                    mengurangi risiko infeksi dan memperkuat ketahanan tanaman
                    terhadap penyakit.
                  </li>
                  <li>
                    Pengaturan Lingkungan: Menciptakan lingkungan yang kurang
                    menguntungkan bagi pertumbuhan jamur penyebab penyakit,
                    seperti meningkatkan sirkulasi udara, menghindari kelembaban
                    berlebihan, dan menjaga kebersihan di sekitar tanaman dapat
                    membantu mengurangi kemungkinan infeksi.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>
