<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Thrips</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Pucuk dan tunas-tunas samping berwarna keperak-perakan</li>
                  <li>Daun menguning</li>
                  <li>Serangan pada daun bagian bawah/seluruh daun
                  </li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                    Kondisi Tanah yang Tidak Cocok: Tanah yang tidak subur atau tidak cocok untuk pertumbuhan tanaman krisan dapat melemahkan tanaman dan membuatnya lebih rentan terhadap serangan thrips.
                </li>
                <li>
                    Praktik Budidaya yang Tidak Tepat: Penggunaan pupuk yang berlebihan atau pengairan yang tidak teratur dapat membuat tanaman krisan menjadi lebih rentan terhadap serangan thrips.
                </li>
                <li>
                    Kontaminasi Tanaman: Tanaman yang ditanam dekat dengan tanaman yang terinfeksi thrips memiliki risiko lebih tinggi terinfeksi. Thrips dapat dengan mudah menyebar dari satu tanaman ke tanaman lainnya.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                      Pengendalian Hama Secara Fisik: Gunakan alat seperti selang air dengan tekanan rendah untuk menyemprotkan air ke tanaman dan menghilangkan thrips secara fisik dari permukaan daun. Gunakan pula alat seperti lembaran warna biru atau kuning yang dilapisi lem untuk menarik thrips dan menangkap mereka.
                  </li>
                  <li>
                      Penggunaan Pestisida Nabati: Pestisida nabati seperti neem oil atau minyak jarak dapat efektif mengendalikan populasi thrips. Campurkan pestisida nabati dengan air dan aplikasikan secara merata ke tanaman, terutama bagian bawah daun tempat thrips sering bersembunyi.
                  </li>
                  <li>
                      Penggunaan Pestisida Kimia: Jika serangan thrips sangat parah dan metode pengendalian lain tidak berhasil, Anda dapat menggunakan pestisida kimia yang direkomendasikan untuk thrips. Pastikan untuk mengikuti petunjuk penggunaan yang tertera pada label pestisida dan gunakan dengan hati-hati sesuai dengan petunjuk.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

