<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Ulat Tentara</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Daun menguning</li>
            <li>Epidermis atau bagian atas daun rusak/transparan</li>
            <li>Tersisa hanya tulang daun pada tanaman</li>
            <li>Hama memakan tunas dan bunga</li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Kondisi Tanaman yang Lemah: Tanaman krisan yang stres karena
                  kekurangan air, kekurangan nutrisi, atau penyakit lain dapat
                  menjadi lebih rentan terhadap serangan ulat tentara.
                </li>
                <li>
                  Kurangnya Sanitasi: Penumpukan daun-daun yang gugur atau sisa-sisa
                  tanaman di sekitar tanaman krisan dapat menjadi tempat berkembang
                  biak bagi ulat tentara. Praktik sanitasi yang buruk dapat
                  memperburuk infestasi.
                </li>
                <li>
                  Penyebaran Melalui Telur atau Larva: Telur ulat tentara dapat
                  diletakkan di tanah atau pada bagian bawah daun. Larva yang baru
                  menetas akan mencari makanan dan dapat dengan cepat menyebar ke
                  tanaman lain di sekitarnya.
                </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                    Pengawasan Rutin: Periksa tanaman secara teratur untuk mendeteksi
                    tanda-tanda infestasi ulat tentara, seperti daun yang berlubang
                    atau berkerut.
                  </li>
      
                  <li>
                    Penghapusan Manual: Ambil dan hancurkan ulat tentara secara manual
                    jika memungkinkan, terutama saat mereka masih dalam fase larva.
                  </li>
                  <li>
                    Penggunaan Pestisida: Penggunaan insektisida yang aman dan efektif
                    dapat membantu mengendalikan populasi ulat tentara. Pastikan untuk
                    mengikuti petunjuk penggunaan yang tertera pada label produk.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

