<%- include('../partials/diagnosa/header') %>
<div class="container-fluid d-flex flex-row justify-content-center align-items-center" style="height: 100%;">
      
  <div class="container my-4 p-4 bg-light">
    <h3 class="mb-4 text-center">Hasil Diagnosa</h3>
    <table class="table table-bordered">
      <tr>
        <th>Nama Penyakit</th>
        <td>Virus Kerdil</td>
          </tr>
          
          <tr>
            <th>Gejala</td>
              <td>
                <ul class="lh-lg">
                  <li>Daun menguning</li>
                  <li>Tanaman mengerdil</li>
                  <li>Tidak membentuk tunas samping</li>
                  <li>Daun kerdil atau berkerut</li>
                  </li>
                </ul>
              </td>
            </tr>
            
            
           <tr>
             <th>Penyebab</th>
             <td>
              <ul class="lh-lg">
                <li>
                  Serangga Penular: Virus kerdil pada bunga krisan dapat ditularkan melalui serangga seperti trips, kutu daun, atau tungau. Serangga ini bisa menjadi vektor untuk virus, membawa virus dari tanaman yang terinfeksi ke tanaman sehat saat mereka makan atau merusak jaringan tanaman.
              </li>
              <li>
                  Kontaminasi Tanaman: Penyakit virus kerdil juga dapat menyebar melalui kontak langsung antara tanaman yang terinfeksi dan tanaman yang sehat, baik melalui peralatan taman yang terkontaminasi, potongan-potongan tanaman yang terinfeksi, atau melalui tindakan manusia seperti pemangkasan tanaman.
              </li>
              <li>
                  Bibit yang Terinfeksi: Penggunaan bibit yang terinfeksi virus kerdil juga dapat menjadi sumber infeksi dalam budidaya tanaman krisan. Bibit yang terinfeksi virus tidak akan menunjukkan gejala pada saat pembelian tetapi dapat menyebarkan virus ke tanaman lain setelah ditanam.
              </li>
              </ul>
              </td>
            </tr>
           
            <tr>
              <th>Solusi</th>
              <td>
                <ul class="lh-lg">
                  <li>
                      Pengendalian Sanitasi: Praktik sanitasi yang baik sangat penting. Bersihkan alat-alat taman secara teratur, hindari penumpukan tanaman yang terinfeksi di sekitar tanaman yang sehat, dan hindari menyentuh tanaman yang terinfeksi tanpa terlebih dahulu membersihkan tangan Anda.
                  </li>
                  <li>
                      Pemilihan Varietas yang Tahan: Jika memungkinkan, pilih varietas krisan yang diketahui tahan terhadap penyakit virus. Meskipun tidak ada varietas yang sepenuhnya kebal terhadap virus, beberapa varietas mungkin lebih tahan daripada yang lain.
                  </li>
                  <li>
                      Ketegasan dalam Karantina: Pastikan untuk memeriksa tanaman baru yang akan ditambahkan ke koleksi Anda dengan cermat. Tanaman baru harus diperiksa secara menyeluruh untuk memastikan bahwa mereka tidak membawa infeksi virus yang dapat menyebar ke tanaman yang ada.
                  </li>
                </ul>
              </td>
            </tr>  
        </table>
        
      </div>
      </div>
<%- include('../partials/footer') %>

